body{
    background: url(stars.jpg);
    color:whitesmoke;
    font-size: 50px;
    font-style: italic;
}

h3{
    display: flexbox;
    text-align: center;
    color:whitesmoke;
    font-size: 50px;
    font-style: italic;
    
}
ul:hover{
    color: rgb(211, 102, 233);
}

#checkbox {
    background-color:transparent;
    text-decoration: line-through;
}
#input{
    display: block;
    margin-left: auto;
    margin-right: auto;
    border: black 3px solid;
    border-radius: 8px;
    padding: 5px;
      width: 400px;
  
}
#add{
    display: block;
    margin-left: auto;
    margin-right: auto;
    justify-content: center;
    border: black 3px solid;
    border-radius: 8px;
    padding: 5px;
      width: 400px;
}